<h1>user後台</h1>

<% @users.each do |user| %>
  <p>
    <%= user.name %>
    <%= user.email %>
    <%= form_for [:admin, user] do |f| %>
      <%= f.select :role, options_for_select([['Normal', "Normal"],['Admin', "Admin"]], :selected => user.role) %>
      <%= f.submit "update" %>
    <% end %>
  </p>
<% end %>